[user]
	email = diegosanchezstrangejavax@gmail.com
	name = diegosanchezstrange
[color]
    diff = auto
    status = auto
    ui = auto

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
	new = green
[core]
    editor = "vim"
    pager = "delta"
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
[merge]
    conflictStyle = zdiff3
