! urxvt.font: xft:monospace:size=16
urxvt*font: xft:monospace:size=12,xft:hack:size=12,xft:Font\ Awesome:size=12
URxvt*iconFile:           /home/diego/wallpapers/archIconPng.png 
! urxvt.font: xft:monospace:size=16,xft:hack:size=16
URxvt.scrollBar: false

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800
! Plugins
urxvt.perl-ext-common:    default,tabbed,matcher,resize-font,-tabbed

! Keymaps
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

URxvt*background:                     [40]#151718
URxvt*foreground:                     #d6d6d6
URxvt*cursorColor:                    #2499D4

URxvt*scrollColor:                    #d6d6d6
URxvt*highlightColor:                 #3B758C
URxvt*highlightTextColor:             #43a5d5

/* First rice */

/* !! gruvbox: */
*.color0: #1d2021
*.color1: #cc241d
*.color4: #98971a 
*.color3: #d79921
/**.color4: #458588*/
*.color5: #b16286
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2
